html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 487px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-top: 25%;
  border-radius: 10px;
  padding-top: 30px;
}
.nuqta {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.nuqta::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(34, 34, 34, 0.685);
}
.nuqta::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(34, 34, 34, 0.356);
}
.nuqtacha {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(34, 34, 34, 0.356);
  margin-left: 5px;
  margin-right: 5px;

}
.wrapper-title {
  margin: 0;
  color: #364148;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.wrapper-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.wrapper-label {
  color: #AAAAAA;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  border-top: 1px solid #AAAAAA;
  cursor: pointer;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

.wrapper-label:hover{
  background-color: #e9e3e39a;
}
.wrapper-label:active{
  background-color: #e9e3e3;
}
.wrapper-label::before{
  content: "";
  display: inline-block;
  width: 45px;
  height: 25px;
  background-image: url(../img/visa.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 25px;
}
.mastercard::before{
  content: "";
  display: inline-block;
  width: 45px;
  height: 25px;
  background-image: url(../img/mastercard.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 25px;
}
.maestrocard::before{
  content: "";
  display: inline-block;
  width: 45px;
  height: 25px;
  background-image: url(../img/maestro.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 25px;
}
.wrapper-radio:checked + .wrapper-item{
  color: #222;
}
.wrapper-radio:checked + .wrapper-item::after{
  color: #222;
  display: inline-block;
}

.wrapper-radio {
  display: none;
}
.wrapper-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrapper-item::after {
  content: "";
  display: none;
  width: 45px;
  height: 25px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-left: auto;
}
.form-button {
  border: 0;
  padding: 20px 30px;
  width: 100%;
  background-color: #598BDD;
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-button::after{
  content: "";
  display: inline-block;
  width: 25px;
  height: 20px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-left: 5px;
}
.form-button:hover{
  background-color: #467fdb;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}